<div class="jumbotron">
	<h1 class="text-center">Gallery AngularJS 1</h1>
</div>
<div class="row">
	<p class="alert alert-info" ng-show="mensagem.length">
		{{mensagem}}
	</p>
</div>
<div class="row">
	<div class="col-md-12">
		<form action="" class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
					<a href="fotos/new" class="btn btn-primary">Nova Foto</a>
				</span>
				<input ng-model="filtro" ng-model-options="{debounce: 500}" type="text" class="form-control" placeholder="Filtro" autofocus>
			</div>
		</form>
	</div>
</div> <!-- row -->
<div class="row">
	<meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
		<!-- <img src="{{foto.url}}" alt="{{foto.titulo}}" class="img-responsive center-block"> -->
		<minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
		<a href="/fotos/edit/{{foto._id}}" class="btn btn-primary btn-block">Editar</a>
		<!-- <button class="btn btn-danger btn-block" ng-click="remover(foto)">Remover</button> -->
		<meu-botao-perigo nome="Remover" acao="remover(foto)"></meu-botao-perigo>
	</meu-painel>
</div>

<meus-titulos></meus-titulos>
